* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

#container {
    position: absolute;
    display: grid;
    width: 60%;
    height: calc(100vh - 20px);
    grid-template-rows: 1fr 3fr 1fr;
    top: 10px;
    right: 10px;
    background: linear-gradient(to bottom, white, black);
    opacity: 0.6;
    border-radius: 10px;
}